body
{
	min-height: 100vh;
	margin: 0;
	font-family: Arial Narrow, sans-serif;
	font-size: 11pt;
}

pre
{
	white-space: pre-wrap;
	word-break: break-all;
}

fieldset
{
	border: none;
}

fieldset>*
{
	display: inline-block;
	vertical-align: top;
}

label, input
{
	width: 120px;
}

#map
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

#settings
{
	background: white url('../images/background.png') center no-repeat;
}

.geolocation-status, .broadcast-status
{
	font-size: 0.85em;
}

.geolocation-status small, .broadcast-status small, [name='device-id']
{
	color: grey;
}

hr
{
	opacity: 0.2;
}

#settings
{
	position: relative;
}

#settings .close
{
	position: absolute;
	bottom: 0.3em;
	right: 0.3em;
	font-size: 3em;
}

#settings.closed .close
{
	bottom: auto;
	top: 0.3em;
}

#settings.closed>*:not(.close)
{
	display: none;
}

@-webkit-keyframes recording {
  from {
    text-shadow: 0 0 10px #faa, 0 0 20px #faa, 0 0 30px #faa, 0 0 40px #FF0000, 0 0 70px #FF0000, 0 0 80px #FF0000, 0 0 100px #FF0000, 0 0 150px #FF0000;
  }
  to {
    text-shadow: 0 0 5px #faa, 0 0 10px #faa, 0 0 15px #faa, 0 0 20px #FF0000, 0 0 35px #FF0000, 0 0 40px #FF0000, 0 0 50px #FF0000, 0 0 75px #FF0000;
  }
}

#record
{
	position: fixed;
	bottom: 0.3em;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12vh;
	color: #900;
	text-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

#record.fa-stop-circle
{
	color: #ff1111;
	text-shadow: 0px 0px 5px rgba(255,0,0,1);
	-webkit-animation: recording 1.0s ease-in-out infinite alternate;
	-moz-animation: recording 1.0s ease-in-out infinite alternate;
	animation: recording 1.0s ease-in-out infinite alternate;
}